conditional_flow/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Insert_or_Merge_Entity": {
                        "inputs": {
                            "body": {
                                "fileName": "@triggerOutputs()?['body']?['name']"
                            },
                            "host": {
                                "connection": {
                                    "referenceName": "azuretables"
                                }
                            },
                            "method": "patch",
                            "path": "/Tables/@{encodeURIComponent('log')}/entities(PartitionKey='@{encodeURIComponent(guid())}',RowKey='@{encodeURIComponent(guid())}')"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "else": {
                    "actions": {
                        "Deletes_a_Blob_from_Azure_Storage": {
                            "inputs": {
                                "parameters": {
                                    "blobName": "@triggerOutputs()?['body']?['name']",
                                    "containerName": "demo"
                                },
                                "serviceProviderConfiguration": {
                                    "connectionName": "AzureBlob",
                                    "operationId": "deleteBlob",
                                    "serviceProviderId": "/serviceProviders/AzureBlob"
                                }
                            },
                            "runAfter": {},
                            "type": "ServiceProvider"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "endsWith": [
                                "@triggerOutputs()?['body']?['name']",
                                ".zip"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_blob_is_Added_or_Modified_in_Azure_Storage": {
                "inputs": {
                    "parameters": {
                        "path": "demo"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob-2",
                        "operationId": "whenABlobIsAddedOrModified",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "type": "ServiceProvider"
            }
        }
    },
    "kind": "Stateful"
}